<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sign up</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
</head>
<body>
  <menu>
    <div class="button-previous-view">
      <a href="signup.html" type="button" class="btn">
       <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
     </a>
   </div>
  </menu>
<!-- Header--->
  <header>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <div class="text-center tittle-signup">
            <h1><strong>Sign Up</strong></h1>
            <h4>Join now for free ride credit</h4>
          </div>
          <hr>
         </div>
       </div>
     </div>
   </header>
<!-- Segunda parte--->
   <section class="register-section">
     <div class="container-fluid">
       <div class="row">
         <div class="col-xs-12">
           <form class="text-center">
             <div class="form-group">
          			<input type="text" class="form-control input-lg" id="input-name" placeholder="First Name Lastname">
          		</div>
         		<div class="form-group">
         			<input type="email" class="form-control input-lg" id="input-email" placeholder="Email">
         		</div>
         		<div class="checkbox">
         			<label>
         				<input type="checkbox"> I agree to Lyft´s <a href="#">Terms of Service</a>
         			</label>
         		</div>
            <div class="col-xs-11 text-center">
              <button type="submit" id="signup"class="btn btn-lg" disabled>Next</button>
            </div>
         	</form>
         </div>
       </div>
     </div>
   </section>
  <!-- JS & JQ -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>  <script src="../vendors/js/jquery-3.2.1.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="../js/register.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
