<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Verify phone number</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
</head>
<body>
  <menu>
    <div class="button-previous-view">
      <a href="signup.html" type="button" class="btn">
       <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
     </a>
   </div>
  </menu>
<!-- Header-->
  <header>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
         <div class="text-center tittle-signup">
           <h1><strong>Verify phone number</strong></h1>
           <h4>Join now for free ride credit</h4>
         </div>
         <hr>
        </div>
      </div>
    </div>
  </header>
  <br>
<!-- Verify number--->
  <section class="veifity-section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <form action="" class="col-xs-12">
            <div class="flex">
              <div class="input-group col-xs-6">
               <span class="input-group-addon input-lg" id="basic-addon1">LAB -</span>
               <input type="number" class="form-control input-lg" placeholder="_ _ _" aria-describedby="basic-addon1">
              </div>
            </div>
            <br>
            <div class="form-group col-xs-12">
             <h5 id="frase"> Enter the code send to +52 </h5>
            </div>
            <div class="col-xs-11">
              <button type="submit" class="btn btn-block  btn-lg" disabled>Resend code</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
<!-- JS & JQ -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  <script src="../js/verify.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
